@charset "UTF-8";

/* 색상 설정 */

/* 상단 바 영역 */
.app-bar {
    background-color: #3F51B5;
    color: rgba(255, 255, 255, .84);
    border-color: rgba(255, 255, 255, .84);

    box-shadow: 0 2px 9px rgba(0, 0, 0, .54);
}
.app-bar svg {
    fill: rgba(255, 255, 255, .84);
}

/* 데스크탑 뷰에서 상단 바 검색 영역 */
.app-bar__search {background-color: rgba(255, 255, 255, .16);}

/* 모바일 뷰에서 상단 바 검색 영역 */
#search-fullmode--toggle:checked~.app-bar__search {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, .84);
}
#search-fullmode--toggle:checked~.app-bar__search svg {
    fill: rgba(0, 0, 0, .84);
}



/* 여기부터는 레이아웃 설정 */

*,*::before,*::after {
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}
header,aside,main,div {width:100%;}
ul {list-style:none;}
input.hidden {position:fixed;opacity:0;pointer-events:none;}

html,body {width: 100%;height: 100%;overflow: hidden;}

.page-layout {width: 100%;height: 100%;display: flex; flex-direction: column;font-family: 'Roboto';}
.body-layout {display: flex; flex-direction: row;}

/* SVG */
*:not(*[fill="none"]) {fill: inherit;}

/* 헤더 */

.app-bar {position: relative;}

.app-bar-layout {width: 100%;height: 64px;display: flex;align-items: center;}
.app-bar__icon {width: 40px;height: 40px;margin: 12px;padding: 8px;flex-shrink: 0;cursor: pointer;}
.app-bar__blog-name {width: auto;padding: 8px;flex-grow: 0;flex-shrink: 0;font-size: 20px;line-height: 1;}
.app-bar__divider {margin-left: 16px;flex-grow: 0;flex-shrink: 0;}

.s .app-bar__divider {display: none;}

.app-bar__title {max-width: 33%;padding: 0 24px;flex-grow: 0;flex-shrink: 0;font-size: 20px;font-weight: normal;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.s .app-bar__title {display: none;}

.app-bar__search {max-width:720px;height: 48px;padding: 0 8px;flex-grow: 1;flex-shrink: 1;display: flex;flex-direction: row;align-items: center;border-radius: 4px;font-size: 20px;transition: background-color .2s ease;}

/* 모바일에서는 검색바 input 활성화를 위해 버튼을 눌러야 함 */
#search-fullmode--toggle:checked~.app-bar__search {width: 100%;height: 64px;position: fixed;top: 0;left: 0;border-radius: 0;}

.s .app-bar__search {background-color: transparent;}
.s .search__icon {margin-left: auto;pointer-events: all;}
.s .search__input {display: none;}
.s .search--clear {display: none;}

.search__icon {width: 32px;height: 32px;padding: 4px;pointer-events: none;cursor: pointer;}
.search__icon .svg__arrow-back {display: none;}

/* 모바일에서 검색모드 진입시 '검색 아이콘' -> '뒤로가기 아이콘' */
#search-fullmode--toggle:checked~.app-bar__search .svg__arrow-back {display: block;}
#search-fullmode--toggle:checked~.app-bar__search .svg__search {display: none;}
#search-fullmode--toggle:checked~.app-bar__search>.search__input {display: block;}

.search__input {height: 32px;margin: 0 8px;padding: 6px;flex-grow: 1;flex-shrink: 1;font-size: 16px;line-height: 20px;}

.search--clear {width: 32px;height: 32px;padding: 4px;display: none;cursor: pointer;}
.search__input:focus+.search--clear,.search--clear:hover {display: block;}