@charset "UTF-8";

/* 색상 설정 */

.body-layout {
    background-color: #F5F5F5;
}

/* 상단 바 영역 */
.app-bar {
    background-color: #3F51B5;
    color: rgba(255, 255, 255, .84);

    box-shadow: 0 2px 9px rgba(0, 0, 0, .54);
}
.app-bar svg {
    fill: rgba(255, 255, 255, .84);
}

/* 데스크탑 뷰에서 상단 바 검색 영역 배경 */
.app-bar__search {background-color: rgba(255, 255, 255, .16);}
/* 데스크탑 뷰 상단 바 검색 placeholder */
.search__input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .36);
}

/* 모바일 뷰에서 상단 바 검색 영역 */
#search-fullmode--toggle:checked~.app-bar__search {
    background-color: #FFF;
    color: rgba(0, 0, 0, .56);
}
#search-fullmode--toggle:checked~.app-bar__search svg {
    fill: rgba(0, 0, 0, .56);
}
/* 모바일 뷰 상단 바 검색 placeholder */
#search-fullmode--toggle:checked~.app-bar__search .search__input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .36);
}

/* 양측 사이드 바 */
.side-nav, .right-nav {
    background-color: #FFF;
    color: rgba(0, 0, 0, .84);
    box-shadow: 0 0 12px rgba(0, 0, 0, .36);
}

/* 사이드바 블로그 소개 영역 아이콘 */
.side-nav .elem-info {
    color: rgba(255, 255, 255, .84);
}
.side-nav .elem-info svg {
    fill: rgba(255, 255, 255, .84);
}





/* 여기부터는 레이아웃 설정 */

*,*::before,*::after {
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}
header,aside,main {display: block;}
ul {list-style:none;}
input.hidden {position:fixed;opacity:0;pointer-events:none;}

html,body {width: 100%;height: 100%;overflow: hidden;}


/* Disable Tistory menu & initialize */
#ttLinkEditMode,
#tistorytoolbarid {display: none;}
#wrapTabloidBody {height: 100%;}

/* SVG */
*:not(*[fill="none"]) {fill: inherit;}

/* 헤더 */

.app-bar {position: relative;}

.app-bar-layout {width: 100%;height: 64px;display: flex;justify-content: space-between;align-items: center;}
.app-bar__icon {width: 40px;height: 40px;margin: 12px;padding: 8px;flex-shrink: 0;cursor: pointer;}
.app-bar__blog-name {width: auto;padding: 8px;flex-grow: 0;flex-shrink: 0;font-size: 20px;line-height: 1;}
.app-bar__divider {margin-left: 16px;flex-grow: 0;flex-shrink: 0;}

.s .app-bar__divider {display: none;}

.app-bar__title {max-width: 30%;padding: 0 24px;flex-grow: 0;flex-shrink: 0;font-size: 20px;font-weight: normal;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.s .app-bar__title {display: none;}

.app-bar__search {max-width:720px;height: 48px;padding: 0 8px;margin-right: auto;flex-grow: 1;flex-shrink: 1;display: flex;flex-direction: row;align-items: center;border-radius: 4px;font-size: 20px;transition: background-color .2s ease;}

 /* 모바일에서는 검색바 input 활성화를 위해 버튼을 눌러야 함 */
#search-fullmode--toggle:checked~.app-bar__search {width: 100%;height: 64px;position: fixed;top: 0;left: 0;border-radius: 0;}

.s .app-bar__search {background-color: transparent;}
.s .search__icon {margin-left: auto;pointer-events: all;}
.s .search__input {display: none;}
.s .search--clear {display: none;}

.search__icon {width: 32px;height: 32px;padding: 4px;pointer-events: none;cursor: pointer;}
.search__icon .svg__arrow-back {display: none;}

 /* 모바일에서 검색모드 진입시 '검색 아이콘' -> '뒤로가기 아이콘' */
#search-fullmode--toggle:checked~.app-bar__search .svg__arrow-back {display: block;}
#search-fullmode--toggle:checked~.app-bar__search .svg__search {display: none;}
#search-fullmode--toggle:checked~.app-bar__search>.search__input {display: block;}

.search__input {height: 32px;margin: 0 8px;padding: 6px;flex-grow: 1;flex-shrink: 1;font-size: 16px;line-height: 20px;}

.search--clear {width: 32px;height: 32px;padding: 4px;display: none;cursor: pointer;}
.search__input:focus+.search--clear,.search--clear:hover {display: block;}


/* 사이드바 메커니즘 */
.page-layout {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    font-family: 'Roboto';
}
.body-layout {
    height: 100%;
    
    display: flex;
    flex-direction: row;
}

.side-nav-layout {
    width: 0;
    height: 100%;

    flex-grow: 0;
    flex-shrink: 0;

    position: relative;
    
    transition: width .2s ease;
}
.s .side-nav-layout {
    position: fixed;
    top: 0;
    left: 0;
}
#side-nav--toggle:checked~.side-nav-layout {
    width: 256px;
}

.side-nav {
    width: 256px;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    transform: translateX(-102%);
    transition: transform .2s ease;
}
#side-nav--toggle:checked~.side-nav-layout>.side-nav {
    transform: none;
}

.side-nav-shadow, .right-nav-shadow {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    
    background-color: rgba(0, 0, 0, .3);
    opacity: 0;

    transition: opacity .2s ease;
    pointer-events: none;
}
.s #side-nav--toggle:checked~.side-nav-layout>.side-nav-shadow,
.s #right-nav--toggle:checked~.right-nav-layout>.right-nav-shadow,
.l:not(.x) #right-nav--toggle:checked~.right-nav-layout>.right-nav-shadow {
    opacity: 1;
    pointer-events: all;
}

.right-nav-layout {
    width: 0;
    height: 100%;
    
    flex-grow: 0;
    flex-shrink: 0;

    position: fixed;
    top: 0;
    right: 0;
    
    transition: width .2s ease;
}
.x.l .right-nav-layout {
    position: relative;
}
#right-nav--toggle:checked~.right-nav-layout {
    width: 256px;
}

.right-nav {
    width: 256px;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;

    transform: translateX(102%);
    transition: transform .2s ease;
}
#right-nav--toggle:checked~.right-nav-layout>.right-nav {
    transform: none;
}


.content-layout {
    width: 100%;
    height: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 16px;
    
    flex-grow: 1;
    flex-shrink: 1;
}
.x.s .content-layout {padding: 0;}


/* 사이드바 엘리먼트 */

.side-nav__elem {
    width: 100%;
    display: block;
}

.elem-info {
    height: 160px;

    flex-grow: 0;
    flex-shrink: 0;

    position: relative;

    background-color: rgb(0, 0, 0);
}

.info__icon-more {
    width: 32px;
    height: 32px;
    padding: 4px;

    position: absolute;
    top: 12px;
    right: 12px;

    cursor: pointer;
}

.info__bgimage {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;

    opacity: .6;
}

.info__default, .info__more {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;

    transition: opacity .2s ease;
    pointer-events: none;
}
#info__more--toggle:checked ~ .info__default {opacity: 0;}
.info__more {opacity: 0;}
#info__more--toggle:checked ~ .info__more {opacity: 1;}

.info__blogger {
    position: absolute;
    bottom: 16px;
    left: 16px;
}

.info__icon-admin {
    width: 32px;
    height: 32px;
    padding: 4px;

    position: absolute;
    bottom: 12px;
    right: 12px;

    cursor: pointer;
}
.info__icon-admin {
    pointer-events: all;
}
#info__more--toggle:checked~.info__default .info__icon-admin {
    pointer-events: none;
}

.info__more {
    padding: 16px 24px;

    display: flex;

    justify-content: center;
    align-items: center;

    text-align: center;
}


/* 티스토리 카테고리 리스트 */

.elem-category {
    width: 100%;
    height: 100%;

    flex-grow: 1;

    overflow-y: auto;
}

ul.tt_category, ul.category_list , ul.sub_category_list {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

a.link_tit, a.link_item, a.link_sub_item {
    width: 100%;
    height: 48px;
    padding: 16px;

    flex-grow: 0;
    flex-shrink: 0;

    font-size: 16px;
    line-height: 1;

    display: block;

    transition: background-color .2s ease;
}
a.link_tit:hover, a.link_item:hover, a.link_sub_item:hover {
    background-color: rgba(0, 0, 0, .1);
}

a.link_tit {
    height: 48px;
}

a.link_item {
    padding-left: 32px;
}
a.link_sub_item {
    padding-left: 64px;
}

.c_cnt {
    font-size: 12px;
    color: rgba(0, 0, 0, .56);
}